$green10: #e6ece5;
$green25: #d6e7e1;
$green40: #a4cabd;
$green50: #67af9b;
$green80: #3c6259;
$green100: #182923;

$red20:#f3dfd5;
$red50:#e1b49e;
$red80:#c56949;
$red100:#b12f18;


$light-grey: #ccc;
$mid-grey:#aaa;
$dark-grey:#555;

