
/* SIDEBAR CHAPTER MENU VIEW */

.l-region--sidebar-second .views-field-title  {
	@include border-radius(5px);
	margin-bottom:10px;
  	padding:5px;
	background:$green25;
  }
  
.l-region--sidebar-second .views-field-title a  {
	display:block;
	padding-left: 22px ;
  	text-indent: -22px ;
  }
  
