/* CSS Document */
// Import external libraries.

@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "./node_modules/compass-mixins/lib/_compass.scss";

/*@import "./sass/variables/**/*.scss";
//@import "./sass/abstractions/**/*.scss";
//@import "./sass/base/**/*.scss";
//@import "./sass/components/**/*.scss";
*/

@import "../../variables/_colors.scss";
@import "../../variables/_grid.scss";
@import "../../variables/_graphics.scss";
@import "../../variables/_legacy.scss";
@import "../../variables/_typography.scss";

@import "../../abstractions/_arrow.scss";
@import "../../abstractions/_grid.scss";
@import "../../abstractions/_hlist.scss";
@import "../../abstractions/_island.scss";
@import "../../abstractions/_typography.scss";
@import "../../abstractions/_visibility.scss";

@import "../../base/_chapters.scss";
@import "../../base/_forms.scss";
@import "../../base/_media.scss";
@import "../../base/_navigation.scss";
@import "../../base/_off-canvas.scss";
@import "../../base/_tables.scss";
@import "../../base/_typography.scss";
@import "../../base/_views.scss";


#logo img {
	width:20%;
}


.l-content {
	padding-top:50px;
	@include grid-span(6,3);
}
.l-region--sidebar-second {
		@include grid-span(3,9);

	}

.l-region--sidebar-second .panel-pane {
	padding:15px;
}

.field--name-field-sub-section {
	padding:20px 0 30px 0;
}
.field--name-field-sub-section h3 {
	padding:0 0 30px 0;
}



/* CHAPTER PAGE NODES TOP LEVEL */


.l-content {
	padding-top:50px;
	@include grid-span(12,1);
}
.l-region--sidebar-second {
		@include grid-span(12,1);
	}

	@include breakpoint($tab) {
	.l-content {
	padding-top:50px;
	@include grid-span(7,2);
}
.l-region--sidebar-second {
		@include grid-span(3,9);
	}
	}
	@include breakpoint($desk) {
	.l-content {
	padding-top:50px;
	@include grid-span(7,2);
}
.l-region--sidebar-second {
		@include grid-span(3,9);
	}
	}



.page-node-1 .l-region--sidebar-second  .panel-pane,
.page-node-3 .l-region--sidebar-second  .panel-pane  {
	padding:0 15px;
	@include border-radius(5px)	
}

.page-node-1 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-one-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.page-node-3 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-two-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.page-node-4 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-three-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.page-node-5 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-five-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}
.page-node-6 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-six-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.page-node-7 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-four-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}
 
.page-node-8 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-seven-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.page-node-9 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-eight-bg.jpg) center center no-repeat;
	background-size:cover;
}

.page-node-10 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-nine-bg.jpg) center center no-repeat;
	background-size:cover;
}

.page-node-11 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-ten-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.page-node-12 {
	background:url(/sites/all/themes/foodbytes/images/chapters/backgrounds/ch-ele-bg.jpg) center center no-repeat;
	background-attachment:fixed;
}

.pane-node-title  h2 {
	color:white;
}

 .l-content h2.pane-title {
	font-size:1rem;
	 font-size:1em;
	 display:inline;
	 padding-right:10px;
	 color:white;
	 float:left;
}

.pane-node-field-written,
.pane-node-field-contrib,
.pane-node-field-edit,
.pane-node-field-review,
.pane-node-field-fund {
	float:left;
	padding:10px 0 0;
	margin-bottom:5px;
	width:100%;
	color:#fff;
}

.pane-node-field-fund {
	margin-bottom:30px;
}

.pane-node-field-key-points,
.pane-node-body {
	float:left;
	padding:5%;
	@include border-radius(5px);
	background:rgba(255,255,255,.750);
	width:90%;
	margin:20px 0;
}

 .l-content .pane-node-body h2.pane-title,
.l-content .pane-node-field-key-points h2.pane-title  {
	font-size:2em;
	 color:$green100;
	 float:none;
	margin-bottom:20px;
}
.pane-node-body p,
.pane-node-body li {
	color:$green80;
	font-family:"AvenirNextLTW01-Regular";
	font-size:1.1em;
	line-height:1.4em;	 
}
.l-content ul,
.l-content li {
	list-style: circle;
	list-style-type: circle;	
}
.l-content li {
	margin-left:22px;
}

.node-type-book .l-footer p {
	color:white;
	font-family:"AvenirNextLTW01-Medium";
	line-height:1.5em;
	display:inherit;
	padding:20px;
	@include border-radius(0);
	background:none;
}

/* SIDEBAR CHAPTER MENU */

.node-type-book  .l-region--sidebar-second {
	background:transparent;
}
.node-type-book .l-region--sidebar-second {
	padding-bottom:2em;
}

.pane-node-book-children ul.menu,
.pane-node-book-children ul.menu li {
	list-style:none;
	list-style-image:none;
}

.pane-node-book-children ul li  {
	@include border-radius(5px);
	margin-bottom:10px; 
  	padding:10px;
	background:rgba(255,255,255,.90);font-family:"AvenirNextLTW01-Regular";
	font-size:1.2em;
  }
.pane-node-book-children ul li:hover  {
	background:rgba(255,255,255,1);
}
 .pane-node-book-children ul li:hover a  {
	color:$green100;
}

 .pane-node-book-children ul li a  {
	display:block;
	padding-left: 22px ;
  	text-indent: -22px ;
	color:$green80;
  }


.page-node-2 .l-header, 
.page-node-13 .l-header, 
.page-node-14 .l-header,
.page-node-15 .l-header, 
.page-node-16 .l-header {
	background:url(/sites/all/themes/foodbytes/images/chapters/ch-onehead.jpg) no-repeat center center;
}
 

