/* SASS Document */
/* Header graphics for homepage and chapters */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $ISLAND
 */
/* CSS Document */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7123b552-531a-44c2-ad29-70084cdb8542");
select:focus,
input:focus,
textarea:focus {
  box-shadow: 0 0 4px 1px rgba(215, 153, 131, 0.3);
  outline: 1px solid #d79983; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #ccc; }

legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #aaa; }

.page-node-edit #overlay textarea.form-textarea {
  min-height: 500px; }

img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

/* CSS Document */
.l-region--navigation {
  padding: 80px 10px 10px 10px; }

.l-region--navigation h2 {
  margin: 0 0 20px 30px; }

.l-region--navigation .sf-vertical {
  width: 55%;
  float: left; }

.l-region--navigation .sf-vertical li {
  width: 100%;
  float: none; }

.l-region--navigation .sf-vertical li a {
  display: block;
  padding: 10px 35px 10px 60px;
  text-indent: -30px;
  width: 75%;
  color: white; }

.l-region--navigation .sf-vertical li > ul {
  padding: 5px;
  background: #3c6259;
  border: 1px solid #ffffff;
  width: 55% !important;
  float: left;
  margin-left: 60%; }

.l-region--navigation .sf-vertical li > ul li:first-child {
  display: none; }

.l-region--navigation .sf-vertical li > ul li a {
  padding: 5px 0 7px 40px;
  width: 100%;
  line-height: 1.1em; }

.l-region--navigation .sf-vertical li#menu-528-1 > ul,
.l-region--navigation .sf-vertical li#menu-532-1 > ul,
.l-region--navigation .sf-vertical li#menu-534-1 > ul,
.l-region--navigation .sf-vertical li#menu-536-1 > ul,
.l-region--navigation .sf-vertical li#menu-538-1 > ul {
  bottom: 0;
  width: 55% !important; }

.l-region--navigation .sf-vertical li#menu-538-1 > ul {
  /* chapter 10 */
  top: -245px; }

.l-region--navigation .sf-vertical li#menu-536-1 > ul {
  /* chapter 9 */
  top: -335px; }

.l-region--navigation .sf-vertical li#menu-534-1 > ul {
  /* chapter 8 */
  top: -295px; }

.l-region--navigation .sf-vertical li#menu-532-1 > ul {
  /* chapter 7 */
  top: -355px; }

.l-region--navigation .sf-vertical li#menu-528-1 > ul {
  /* chapter 6 */
  top: -270px; }

.l-region--navigation .sf-menu ul li {
  width: 80%; }

.l-region--navigation ul li ul.menu,
.l-region--navigation ul li ul.menu li.leaf {
  list-style-type: none;
  list-style-image: none; }

.l-region--navigation ul li a:hover {
  color: #c56949; }

/*******************************************************************************
 * Off canvas portion of styling for the Off Canvas layout.
 ******************************************************************************/
#off-canvas {
  width: 90%;
  background: #182923;
  height: 100%;
  position: absolute;
  top: 0;
  left: -90%;
  z-index: 10000;
  transition: left 300ms; }

@media (min-width: 44em) {
  #off-canvas {
    width: 60%;
    left: -60%; } }

.l-header #off-canvas.is-visible {
  background: #182923;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 300ms; }

.l-header #off-canvas.is-visible #off-canvas-show {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 3s; }

.l-header #off-canvas #off-canvas-show:before {
  content: " + ";
  colot: #fff; }

.l-header #off-canvas #off-canvas-show {
  display: block;
  position: fixed;
  left: 0;
  top: 120px;
  transition: left 300ms;
  transition: opacity 1200ms;
  text-indent: -5000px;
  background: #67af9b url(/sites/all/themes/foodbytes/images/menu.png) no-repeat;
  width: 100px;
  height: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  border: 1px white solid;
  border-left: none; }

.l-header #off-canvas #off-canvas-show:hover {
  background-color: #3c6259; }

.l-header #off-canvas #off-canvas-hide {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 3s; }

.l-header #off-canvas.is-visible #off-canvas-hide {
  display: block;
  position: absolute;
  top: 47px;
  right: 0;
  margin: 0;
  display: block;
  transition: left 300ms;
  text-indent: -5000px;
  background: #67af9b url(/sites/all/themes/foodbytes/images/menuclose.png) no-repeat;
  width: 100px;
  height: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  border: 1px white solid;
  border-right: none; }

.l-header #off-canvas #off-canvas-hide:hover {
  background-color: #3c6259; }

/**
 * $TABLES
 */
table {
  width: 100%;
  margin-bottom: 18px; }

th {
  padding: 0.5em 1em;
  color: #fff; }
  th a,
  th a.active {
    color: #fff; }
    th a img,
    th a.active img {
      margin: 2px 3px; }

td {
  padding: 0.5em 1em; }

/**
 * $FONT-FACE
 */
@font-face {
  font-family: "Avenir Next LT W04 Bold";
  src: url("/sites/all/themes/foodbytes/Fonts/6ff8ab07-ccb4-4a91-8f0f-2bd4367902e8.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/6ff8ab07-ccb4-4a91-8f0f-2bd4367902e8.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/91799b0e-0ef8-446e-b274-5509412e1242.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/97fb5311-bdbd-46bc-bf69-3bcf8c744cda.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/88093bd3-b377-4278-8abe-8460dd24d0e8.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/0fde1539-69df-4e3d-83ef-ae23d10dd2a5.svg#0fde1539-69df-4e3d-83ef-ae23d10dd2a5") format("svg"); }

@font-face {
  font-family: "Avenir Next LT W02SC Bold It";
  src: url("/sites/all/themes/foodbytes/Fonts/a0ceccda-d623-4b77-8cd9-44fa79e46810.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/a0ceccda-d623-4b77-8cd9-44fa79e46810.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/44d48253-4873-4edb-a1df-9921af5f19e9.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/6e7bfa31-af1c-4fbe-bd78-ba0e8314a183.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/fd64ca0a-7664-4337-8793-8b1c73506ebf.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/6d75d4b0-a48c-4544-9584-52d2fcdfe34b.svg#6d75d4b0-a48c-4544-9584-52d2fcdfe34b") format("svg"); }

@font-face {
  font-family: "Avenir Next W01 Thin";
  src: url("/sites/all/themes/foodbytes/Fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/64779e28-a3b8-4364-949c-771372a0a327.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/87a872d0-5af3-4231-a77c-37f41ec74662.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/91464696-717b-4eaa-adbd-0dfc5e5fd782.svg#91464696-717b-4eaa-adbd-0dfc5e5fd782") format("svg"); }

@font-face {
  font-family: "AvenirNextW01-ThinItali";
  src: url("/sites/all/themes/foodbytes/Fonts/41537dd7-434f-4f85-b9d9-a88b160bc18d.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/41537dd7-434f-4f85-b9d9-a88b160bc18d.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/ec2dd1bd-4391-4b89-bf85-1a2346ea4342.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/fcf6f211-efa2-40f6-9c6b-e0ca63b6ea60.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/60fcc194-9529-4b99-9506-cdb26642656a.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/c110f1ef-6fdf-4008-bc75-b370649384a3.svg#c110f1ef-6fdf-4008-bc75-b370649384a3") format("svg"); }

@font-face {
  font-family: "AvenirNextLTW01-Regular";
  src: url("/sites/all/themes/foodbytes/Fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg"); }

@font-face {
  font-family: "AvenirNextLTW01-Italic";
  src: url("/sites/all/themes/foodbytes/Fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg"); }

@font-face {
  font-family: "AvenirNextLTW01-Medium";
  src: url("/sites/all/themes/foodbytes/Fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg"); }

@font-face {
  font-family: "AvenirNextLTW01-MediumI_721278";
  src: url("/sites/all/themes/foodbytes/Fonts/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix");
  src: url("/sites/all/themes/foodbytes/Fonts/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix") format("eot"), url("/sites/all/themes/foodbytes/Fonts/3f380a53-50ea-4a62-95c5-d5d8dba03ab8.woff2") format("woff2"), url("/sites/all/themes/foodbytes/Fonts/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff"), url("/sites/all/themes/foodbytes/Fonts/b28b01d9-78c5-46c6-a30d-9a62c8f407c5.ttf") format("truetype"), url("/sites/all/themes/foodbytes/Fonts/ed4d3c45-af64-4992-974b-c37cd12a9570.svg#ed4d3c45-af64-4992-974b-c37cd12a9570") format("svg"); }

* html {
  font-size: 87.5%; }

html {
  font-size: 14px;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
html, body {
  font-family: "AvenirNextLTW01-Regular";
  color: #182923; }

/**
 * $LINKS
 */
a {
  color: #c56949;
  text-decoration: none; }
  a:visited {
    color: #c56949; }
  a:focus {
    color: #b12f18; }
  a:hover {
    color: #b12f18; }
  a:active {
    color: #e1b49e; }

strong {
  font-family: "Avenir Next LT W04 Bold"; }

strong em, em strong {
  font-family: "Avenir Next LT W02SC Bold It"; }

em {
  font-family: "AvenirNextLTW01-Italic"; }

.node--colorbox h2 {
  margin-bottom: 2em; }

.node--colorbox a {
  color: #b12f18;
  font-family: "Avenir Next LT W04 Bold"; }

.node--colorbox li {
  list-style: outside;
  list-style-type: circle; }

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta, caption,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #67af9b;
  font-family: "AvenirNextLTW01-Regular";
  text-transform: none; }

a,
a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #c56949; }

h1, .alpha {
  font-size: 25px;
  font-size: 1.78571rem; }

h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem; }

h3, .gamma {
  font-size: 21px;
  font-size: 1.5rem; }

h4, .delta, caption {
  font-size: 18px;
  font-size: 1.28571rem; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem; }

h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem; }

/**
 * $PARAGRAPHS
 */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.35714em;
  border-left-style: solid;
  border-left-width: 0.71429em;
  padding-left: 0.71429em;
  font-style: italic; }
  blockquote p {
    margin: 0; }

q {
  font-style: italic; }

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  border-radius: 10px; }

/* SIDEBAR CHAPTER MENU VIEW */
.l-region--sidebar-second .views-field-title {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background: #d6e7e1; }

.l-region--sidebar-second .views-field-title a {
  display: block;
  padding-left: 22px;
  text-indent: -22px; }

/* GET DOWN! BY MATTHEW JAMES TAYLOR TO KEEP THE FOOTER AT THE FOOT EVEN ON A SHORT PAGE */
html {
  height: 100%; }

body {
  height: 100%;
  color: #3c6259; }

.l-page {
  position: relative;
  min-height: 100%; }

.l-branding {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  background-color: rgba(103, 175, 155, 0.85); }

.l-main {
  padding-bottom: 400px; }

.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(60, 98, 89, 0.85);
  color: #fff; }

.l-footer p {
  font-family: "AvenirNextLTW01-Regular";
  padding: 20px 0 5px 20px; }

.form-item label, .form-actions label {
  font-weight: normal;
  padding-bottom: 5px; }

textarea {
  font-family: "AvenirNextLTW01-Regular";
  font-size: 1rem; }

.form-text {
  padding: 5px;
  font-family: "AvenirNextLTW01-Regular";
  width: 95%; }

.ctools-collapsible-container .ctools-toggle {
  background-position: 7px 14px; }

.messages--status {
  background-color: #e6ece5;
  border: #d6e7e1; }

/* SLOGAN */
.pane-page-slogan {
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: "Avenir Next W01 Thin"; }

@media (min-width: 44em) {
  .pane-page-slogan {
    font-size: 1.9em; } }

@media (min-width: 70em) {
  .pane-page-slogan {
    font-size: 2.5em; } }

/* TOP MENU OF CONTRIBUTORS ETC */
.pane-menu-menu-header-menu {
  float: left;
  width: 100%;
  padding: 0;
  color: #fff; }

.pane-menu-menu-header-menu .menu {
  width: 100%; }

.pane-menu-menu-header-menu .menu .leaf {
  list-style-type: none;
  list-style-image: none; }

.pane-menu-menu-header-menu ul {
  display: block;
  float: left;
  margin: 0 auto; }

.pane-menu-menu-header-menu ul li a {
  color: #fff;
  display: block;
  padding: 5px 0; }

.pane-menu-menu-header-menu ul li.first {
  margin-left: 0; }

.pane-menu-menu-header-menu ul li.last {
  margin-right: 0; }

.pane-menu-menu-header-menu ul li {
  float: left;
  margin: 1%;
  text-align: center;
  width: 98%; }

@media (min-width: 44em) {
  .pane-menu-menu-header-menu ul li {
    float: left;
    margin: 0 1% 0 0;
    text-align: center;
    width: 31%; }
  .pane-menu-menu-header-menu ul li a {
    padding: 10px 0; } }

@media (min-width: 70em) {
  .pane-menu-menu-header-menu ul li {
    float: left;
    margin: 0 1% 0 0;
    text-align: center;
    width: 13.2857143%; }
  .pane-menu-menu-header-menu ul li a {
    padding: 20px 0; } }

.pane-menu-menu-header-menu ul li:hover {
  background-color: rgba(103, 175, 155, 0.85); }

.l-content {
  padding-top: 50px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-region--sidebar-second {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (min-width: 44em) {
  .l-content {
    padding-top: 50px;
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
  .l-region--sidebar-second {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none; } }

@media (min-width: 70em) {
  .l-content {
    padding-top: 50px;
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none; }
  .l-region--sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none; } }

.pane-page-logo {
  text-align: center; }

#logo img {
  width: 98%;
  margin: 20px 0; }

@media (min-width: 44em) {
  #logo {
    width: 70%;
    padding-top: 20px; }
  #logo img {
    max-width: 700px; } }

@media (min-width: 70em) {
  #logo {
    width: 80%;
    padding-top: 20px; }
  #logo img {
    max-width: 800px; } }

h1, h2, h3, h4, h5, h6 {
  text-transform: none; }

.l-content p, .l-content li, .node--colorbox p, .node--colorbox li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 20px; }

.l-content li ul li, .node--colorbox li ul li {
  font-size: 1em; }

.page-node- .node--colorbox h2.node__title, .page-node- .node--colorbox h2 {
  color: #67af9b !important; }

sub {
  font-size: 0.8em;
  vertical-align: sub; }

.l-content .pane-node-body {
  float: left;
  padding: 15px;
  padding-top: 2em;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75); }

.l-region--sidebar-second {
  margin-top: 50px;
  border-radius: 10px;
  background: #e6ece5; }

.pane-node-book-nav {
  position: relative;
  padding: 10px; }

.l-footer div.footerlogo {
  width: 48%;
  float: left;
  margin: 1%;
  text-align: center; }

.l-footer .pane-custom {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-footer .pane-block-1 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (min-width: 44em) {
  .l-footer div.footerlogo {
    width: 31%;
    margin: 1%; }
  .l-footer .pane-custom {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-footer .pane-block-1 {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 70em) {
  .l-footer div.footerlogo {
    width: 11%;
    margin: 1%; } }

.l-footer #mc_embed_signup {
  background-color: transparent; }

.l-footer #mc_embed_signup h2 {
  font-weight: normal; }

/*# sourceMappingURL=foodbytes.styles.css.map */
